.slider-wrapper {
    max-width: 1032px;
}
.slider__group {
    position: relative;
    justify-content: center;
    min-width: 1032px;
    min-height: 330px;
}

picture {
    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;
}

picture:nth-child(2){
    left: 180px
}
picture:nth-child(3){
    left: 380px
}
picture:nth-child(4){
    left: 500px
}
picture:nth-child(5){
    left: 720px
}
